:root{
    --main-color: #00E2B7;
    --secondary-color: #00987b;    
    --background-color: #F9FAFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: black;
}

html{
    scroll-behavior: smooth;
}


/*---------Main Style------------*/
a{
    text-decoration: none;
}

.shaddow{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

h2{
    font-size: 2rem;
    font-weight: SemiBold;
    margin-left: 15%;
}

#current{
    font-weight:600;
    color: var(--secondary-color);
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}


.glass-effect{
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: solid 0.5px white;
}


/*---------End Main Style------------*/



/*---------Header------------*/
.main-pos{
    position: relative;
    
}

#head{
    width: 100%;
    height: 550px;
}

#main-image{
    background-image: url("/Images/Landing_Page/Main_Img/first.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 700px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    position: absolute;
}

#main-image:hover{
    background-image: url("/Images/Landing_Page/Main_Img/first_night.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

#main-image{
    width: 100%;
    position: relative;
}

.logo{
    z-index: 2;
    position: fixed;
    padding: 20px;
    margin-left: 20px;
    left: 0%;
}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-right: 3%;
}

.navlink{
    list-style: none;
    margin: 0;
}

.navbar a:hover{
    color: var(--secondary-color);
}


.navbar a{
    color: black;
    font-size: 1.1rem;
}

.header{
    display: flex;
    height: 80px;
    border-radius: 0;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
    
}

.burger{
    display: none;
}

.uil-bars{
    font-size: 2rem;
}


/*--------------------Progress Bar-------------------*/

#_progress {
    --scroll: 0%;
    background: linear-gradient(to right,#00E2B7 var(--scroll),transparent 0);
    position: fixed;
    width: 100%;
    height: 5px;
    top:0px;
    z-index: 100;
}

/*--------------------End Progress Bar-------------------*/


/*------------Cards---------------*/


#Card{
    /* z-index: 9; */
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-gap: 100px;
    width: 100%;
    height: 280px;
    justify-content: center;
}

.card-design{ 
    margin-top: -100px;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-design p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
#pop{
    background: url(./Images/Icons/1x/Population.png) center no-repeat;
    width: 80px;
    height: 80px;
    
}

#uni{
    background: url(./Images/Icons/1x/Universities.png) center no-repeat;
    width: 80px;
    height: 80px;
}

#stud{
    background: url(./Images/Icons/1x/Students.png) center no-repeat;
    width: 80px;
    height: 80px;
}

#parks{
    background: url(./Images/Icons/1x/Parks.png) center no-repeat;
    
    width: 80px;
    height: 80px;
}

.info-title{
    color: black;
    margin-top: 30px;
    font-weight: 600;
    font-size: 1.7rem;
}

.numbers{
    margin-top: 10px;
    font-weight: lighter;
    color: var(--secondary-color);
    font-size: 1.5rem;
}

/*------------End Cards---------------*/

/*---------End header------------*/

/*------------------Quotes----------------------*/

.quote-title{
    margin-top: 100px;
    margin-left: 7%;
}

.quote-container{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

#generator{
    padding: 0.5rem;
    background: var(--main-color);
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
}

#generator:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
    color: white;
}

#quote{
    font-size: 4rem;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    height: max-content;
    padding-bottom: 40px;
    text-align: center;
    font-style: italic;
}

#author{
    font-size: 2rem;
    color: rgba(0,0,0,0.6);
    text-align: center;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    height: 50px;
    margin-bottom: 50px;
}


/*------------------End Quotes----------------------*/




/*-------------- Load on scroll --------------*/

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

/*-------------- End Load on scroll --------------*/





/*--------------Main Body-----------------*/
    /*----------Cards Title----------*/
    .main-cards-title{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 30px;
    }
    
    .main-cards-title a{
        margin-right: 15%;
        justify-self: flex-end;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--secondary-color);
    }
   
    /*----------End Cards Title----------*/

    /*-------------Cards Style---------------*/
    .main-cards-images{
        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        grid-gap: 2%;
    }

    .category-card{
        width: 420px;
        height:550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        
        border-radius: 25px;
    }
    
    .card-image{
        background-color: #00987b;
        width: 400px;
        height: 380px;
        border-radius: 25px;
        margin-top: 10px;
    }
    
    .category-card p{
        font-weight: 600;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        height: 90px;
        overflow: hidden;
    }
    
    .category-card a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 50px;
        color: black;
        background-color: var(--main-color);
        border-radius: 25px;
        margin-top: 10px;
        transition: 0.5s ease-in-out;
    }
    
    .category-card a:hover{
        background-color: var(--secondary-color);
        transition: 0.5s ease-in-out;
        color: white;
    }
    /*-------------End Cards Style---------------*/



    /*----------Popular Things to do------------*/
    .main-cards{
        width: 100%;
        margin-top: 400px;
    }

    #to-do-card-image-1{
        background: url(./Images/Landing_Page/things_to_do/walks.jpg) no-repeat center/cover;
    }
    
    #to-do-card-image-2{
        background: url(./Images/Landing_Page/things_to_do/street_food_markets.jpg) no-repeat center/cover;
    }
    
    #to-do-card-image-3{
        background: url(./Images/Landing_Page/things_to_do/coffee.jpg) no-repeat center/cover;
    }
    /*----------End Popular Things to do------------*/


    /*----------Must go------------*/    
    .main-cards-2{
        margin-top: 100px;
        width: 100%;
    }
    
    #go-card-image-1{
        background: url(./Images/Landing_Page/Must_Go/Calton_Hill.jpg) no-repeat center/cover;    
    }

    #go-card-image-2{
        background: url(./Images/Landing_Page/Must_Go/Monument.jpg) no-repeat center/cover;    
    }

    #go-card-image-3{
        background: url(./Images/Landing_Page/Must_Go/Leith_River.jpg) no-repeat center/cover;    
    }
    /*----------End Must go------------*/


/*--------------End Main Body-----------------*/





/*----------Reviews------------*/


/*-------Review Style-------*/

.reviews{
    margin-top: 100px;
    height: 450px;
    width: 100%;
    background-color: var(--main-color);
    display: grid;
    row-gap: 20px;
    overflow: hidden;
}


.reviews h2{
    color: white;
    width: 100%;
    display: grid;
    align-items: center;
    margin-left: 7%;
    padding-top: 35px;
}

#review-cards{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    align-items: center;
    grid-gap: 2%;
    height: 257px;
}

.first-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
}

.reviewer-image{
    width: 80px;
    height: 80px;
    background-color: var(--main-color);
    border-radius: 100px;
    
}

.quotes{
    background-image: url("./Images/Icons/1x/quotes.png");
    background-repeat: no-repeat;
    background-position: right;
}

.name{
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.review-design{
    width: 450px;
    height: 250px;
    padding: 20px;
    transition: all 0.2s ease;
}

.review-design:hover{
    transform: scale(1.1);
}

#city{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    height: 83px;   
}

/*-------End Review Style-------*/

#reviewer-1{
    background-image: url("./Images/Landing_Page/users/1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#reviewer-2{
    background-image: url("./Images/Landing_Page/users/2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

#reviewer-3{
    background-image: url("./Images/Landing_Page/users/3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}


/*----------End Reviews------------*/



/*----------Footer------------*/

#footer{
    display: grid;
    grid-template-rows: max-content;
    height: 300px;
    width: 100%;
    background-color: black;
    justify-items: center; 
    padding-top: 30px;
}


.social{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 20px;
    height: 50px;
    justify-items: center;
}

.social-hvr:hover{
    filter: invert(100%);
}

.copyright a{
    color:rgba(255, 255, 255, 0.40);
}

.copyright a:hover{
    color:var(--main-color);
}

.copyright{
    color:rgba(255, 255, 255, 0.40);
    display: grid;
    grid-template-columns: repeat(4,max-content);
    grid-gap: 30px;
}

.copyright #copy{
    margin-right: 10px;
}

.navigate a{
    color:rgba(255, 255, 255, 0.40);
}
.navigate{
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-gap: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.navigate a:hover{
    color: var(--main-color);
}


/*----------End Footer------------*/






/*------------Responsive for tablet-------------*/

@media screen and (min-width: 768px) and (max-width: 1366px){

    /*----------------Main Style------------------*/
    h2{
        font-size: 1.5rem;
    }


    /*----------------End Main Style------------------*/

    /*-----------Head main image and info cards------------*/
    #main-image{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 550px;
    }
    

    
    /*-------Navbar--------*/
    .logo{
        padding: 0;
        margin-left: 0;
        justify-self: center;
        grid-area: 1;
        top: 25px;
        left: auto;
    }
    
    .navbar{
        display: flex;
        justify-self: center;
        grid-gap: 35px;
        align-self: flex-end;
        padding-bottom: 20px;
        width: 100%;
        grid-area: 2;
    }
    
    .header{
        display: grid;
        height: 120px;
        border-radius: 0;
        grid-template-rows: repeat(2,1fr);
        justify-content: center;
    }
    /*-------Navbar--------*/



    #Card{
        display: grid;
        grid-template-columns: repeat(4, max-content);
        grid-template-rows: repeat(2, max-content);
        grid-gap: 2%;
        width: 100%;
        height: max-content;
        /* margin-top: 435px; */
    }
    
    .card-design{
        height: 180px;
        width: 180px;
    }
    
    .card-design p{
        font-size: 1rem;
    }
    
    #pop, #uni, #stud, #parks{
        transform: scale(0.8);
    }
    /*-----------End Head main image and info cards------------*/


    /*---------------Things to do / Must Go----------------*/
   .main-cards-images{
        grid-gap: 5%;
    }

    .main-cards-title a{
        font-size: 1.2rem;
    }

    .main-cards{
        margin-top: 130px;
    }

   .main-cards-2{
        margin-top: 80px;
    }

    .category-card{
        width: 220px;
        height: 370px;
    }

    .category-card p{
        width: 90%;
        margin-bottom: 0;
        height: 80px;
    }
    
    .card-image{
        width: 200px;
        height: 180px;
    }
    
    .category-card a{
        width: 200px;
        height: 50px;
        margin-top: 0;
    }

    /*---------------End Things to do / Must Go----------------*/

    

    /*---------------Reviews----------------*/

    .reviews{
        height: 600px;
    }
    
    #review-cards{
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: auto;
        height: 265px;
        grid-gap: 20px;
    }
    
    .reviewer-image{
        width: 50px;
        height: 50px;
    }
    
    .review-design{
        width: 350px;
        height: 180px;
    }

    .name{
        margin-bottom: 5px;
    }
    
    #city{
        display: flex;
        justify-content: center;
        align-content: center;
        height: 83px;
        margin-top: 150px;
    }


    /*---------------End Reviews----------------*/
}


/*------------End Responsive for tablet-------------*/








/*------------Responsive for phone-------------*/

@media screen and (max-width: 767px){

    /*----------------Main Style------------------*/
    h2{
        font-size: 1.3rem;
    }

    /*----------------End Main Style------------------*/

    
    
    /*-----------Head main image and info cards------------*/
    #main-image{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 550px;
    }
    
    .logo{
        margin-left: 0px;
    }

    
    .navbar{
        margin: 0;
        background: #ffffff;
        box-shadow: -5px 10px 25px rgba(0, 0, 0, 0.315);
        position: absolute;
        right: -100%;
        top: 80px;
        width: 70vw;
        height: 70vh;
        flex-direction: column;
        text-align: center;
        display: flex;
        padding: 0;
        transition: all 400ms;
        display: none;
    }

    .navlink{
        text-align: center;
    }

    .nav-active{
        right: 0;
        display: flex;
    }

    .burger{
        display: block;
        justify-self: flex-end;
        margin-right: 5%;
    }

    .uil-bars:hover{
        border-bottom: none;
        color: var(--secondary-color);
    }

    .uil-times{
        font-size: 2rem;    
    }

    .uil-times:hover{
        color: var(--secondary-color);
    }

    #Card{
        display: grid;
        grid-template-columns: repeat(2, 90px);
        margin-top: -320px;
        justify-items: center;
        
    }
    
    .card-design{
        height: 180px;
        width: 180px;
    }
    
    .card-design p{
        font-size: 1rem;
        color: black;
    }
    
    #pop, #uni, #stud, #parks{
        transform: scale(0.8);
    }
    /*-----------End Head main image and info cards------------*/
 

    


    /*---------------Things to do / Must Go----------------*/
   .main-cards-images{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-cards{
        margin-top: 80px;
    }

   .main-cards-2{
        margin-top: 80px;
    }

    .category-card{
        margin-bottom: 50px;
    }

    .category-card:nth-child(3){
        margin-bottom: 80px;
    }

    


    /*---------------End Things to do / Must Go----------------*/

    

    /*---------------Reviews----------------*/

    .reviews{
        height: 800px;
    }
    
    #review-cards{
        display: grid;
        grid-template-columns: repeat(1, max-content);
        grid-template-rows: auto;
        height: 265px;
        grid-gap: 20px;
    }

    .review-design:hover{
        transform: scale(1);
    }
    
    .reviewer-image{
        width: 50px;
        height: 50px;
    }
    
    .review-design{
        width: 450px;
        height: 180px;
    }

    .name{
        margin-bottom: 5px;
    }
    
    #city{
        display: flex;
        justify-content: center;
        align-content: center;
        height: 83px;
        margin-top: 355px;
    }


    /*---------------End Reviews----------------*/
}




/*------------End Responsive for phone-------------*/










/*------------Responsive for small phone-------------*/

@media screen and (max-width: 480px){
    /*----------------Main Style------------------*/
    h2{
        font-size: 1.6rem;
    }

    /*----------------End Main Style------------------*/

    
    
    /*-----------Head main image and info cards------------*/
    #main-image{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 550px;
    }
    
    
    .logo{
        margin-left: 0px;
    }
    
    .navbar{
        margin: 0;
        background: #ffffff;
        box-shadow: -5px 10px 25px rgba(0, 0, 0, 0.315);
        position: absolute;
        right: -100%;
        top: 80px;
        width: 70vw;
        height: 70vh;
        flex-direction: column;
        text-align: center;
        display: flex;
        padding: 0;
        transition: all 400ms;
        display: none;
    }

    .navlink{
        text-align: center;
    }

    .nav-active{
        right: 0;
        display: flex;
    }

    .burger{
        display: block;
        justify-self: flex-end;
        margin-right: 5%;
    }

    .uil-bars:hover{
        border-bottom: none;
        color: var(--secondary-color);
    }

    .uil-times{
        font-size: 2rem;    
    }

    .uil-times:hover{
        color: var(--secondary-color);
    }

    #Card{
        display: grid;
        grid-template-columns: repeat(2, 90px);
        margin-top: -320px;
        justify-items: center;
    }
    
    .card-design{
        height: 150px;
        width: 150px;
    }
    
    .card-design p{
        font-size: 1rem;
    }
    
    #pop, #uni, #stud, #parks{
        width: 60px;
        height: 60px;
    }
    /*-----------End Head main image and info cards------------*/


    /*---------------Things to do / Must Go----------------*/
    .main-cards-images{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .card-image{
        background-color: #00987b;
        width: 300px;
        height: 280px;
        border-radius: 25px;
        margin-top: 10px;
    }
    
    .category-card p{
        font-weight: 600;
        
        margin-top: 0px;
        margin-bottom: 0px;   
        text-align: center; 
        
    }
    
    .category-card a{
        width: 280px;
        height: 50px;
        
    }

    .main-cards{
        margin-top: 60px;
    }

    .main-cards-2{
        margin-top: 80px;
    }

    .category-card{
        margin-bottom: 50px;
        width: 320px;
        height:450px;
    }

    .category-card:nth-child(3){
        margin-bottom: 40px;
    }


    /*---------------End Things to do / Must Go----------------*/

    /*------------------Quote------------------*/

    #quote{
        font-size: 2rem;
    }

    #author{
        font-size: 1rem;
    }

    /*------------------End Quote------------------*/

    

    /*---------------Reviews----------------*/

    .reviews{
        height: 800px;
        justify-content: center;
    }

    .reviews h2{
        margin-left: 15%;
    }
    
    .review-design:hover{
        transform: scale(1);
    }

    
    .review-design{
        width: 300px;
        height: 180px;
    }

    .first-row{
        margin: 0;
    }

    #city{
        transform: scale(0.8);
        margin-bottom: -10px;
    }


    /*---------------End Reviews----------------*/


    /*-------------------Footer------------------*/

    #footer{
        height: max-content;
        padding-bottom: 40px;
        
    }

    .copyright{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .social{
        margin-bottom: 70px;
    }
    
    .navigate{
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }
    
    #line{
        display: none;
    }


     
   

    /*-------------------End Footer------------------*/
}



/*------------End Responsive for small phone-------------*/

